<h1>Contacto</h1>

<form>
  <div class="container">
    <label for="name">Nombre</label>
    <input type="name" id="name" name="name" placeholder="Name" required>
    <br>

    <label for="email">Correo electronico</label>
    <input type="email" id="email" name="email" placeholder="Email" required>
    <br>
   
    <label for="comments">Comentarios</label>
    <textarea name="textarea"></textarea>
    <br>
    
    <button class="btn btn-primary">Enviar</button>
  </div>
  
</form> 