


/*contact */
.titulo {
    color-scheme: rgba(41, 107, 128, 0.753)1, 89, 141);
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase
    font-weight: 700;
}
.form {
    margin: 50 auto;
    width: width: 20em;
    color: blueviolet;
}

